<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
        http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
>
    <context:component-scan base-package="com.project.controller" />

    <!--开启注解，会自动扫描bean中@Controller @RequestMapping 注解并添加到urlMap 映射中-->
    <mvc:annotation-driven>
        <!--自定义参数解析器-->
        <mvc:argument-resolvers>
            <bean class="com.project.config.SessionArgumentResolver"/>
        </mvc:argument-resolvers>

    </mvc:annotation-driven>


    <!-- 配置SpringMVC的视图解析器 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!-- 上传拦截，如最大上传值及最小上传值 -->
    <bean id="multipartResolver"   class="org.springframework.web.multipart.commons.CommonsMultipartResolver" >
        <property name="maxUploadSize">
            <value>524288000</value>
        </property>
        <property name="maxInMemorySize">
            <value>4096</value>
        </property>
        <property name="defaultEncoding">
            <value>utf-8</value>
        </property>
    </bean>

    <!--异常解析,发生错误就会进入到这个类中进行处理-->
    <bean id="exceptionResolver" class="com.project.resolve.SpringExceptionResolver"></bean>
    <!-- 对静态资源文件的访问  restful-->
    <mvc:resources mapping="/static/**" location="/,/static/" />

    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**/**"/>
            <bean class="com.project.interceptor.AuthorizedInterceptor"/>
        </mvc:interceptor>

    </mvc:interceptors>
</beans>